.listaMonstros{
    overflow-y: scroll;
    min-width: 200px;
    height: 490px;
    border: 1px solid hsl(0, 0% ,50%, 0.08);
    scroll-margin-left: 300px;
    background-color: #6b727a11;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
}
.listaMonstros .pokemon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #6b727a;
    color: #fff;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 8px;
    min-height: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.05s ease-in-out;
}
.listaMonstros .pokemon:hover {
    transform: scale(1.05);
}
.listaMonstros .pokemon img{
    width: 25%;
    border-radius: 50%;
}
.listaMonstros .pokemon span{
    padding-right: 20px;
}
.listaMonstros .pokemon.ativo {
    background-color: rgb(228, 56, 56);
    /* background-color: #fa6668; */
}